<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
    <div>
        <label for="text">Task</label>
        <input class="form-control" [(ngModel)]="text" type="text" id="text" name="text" placeholder="Add task">
    </div>
    <div>
        <label for="day">Day and time</label>
        <input class="form-control" [(ngModel)]="day" type="text" id="day" name="day" placeholder="Add day and time">
    </div>
    <div>
        <label for="reminder">Reminder</label>
        <input [(ngModel)]="reminder" type="checkbox" id="reminder" name="reminder">
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="Save task">
</form>